body {
  background: black;
  margin: 0;
  padding: 0;
  color: ghostwhite;
  font-family: "Source Sans Pro", SourceSansPro, -apple-system, sans-serif;
}

.snkLogo {
  margin-top: 62px;
}

.ngrLogo {
  margin: 14px 0 0 0;
}

.game {
  border: 1px white solid;
  border-radius: 5px;
}

.game-details {
  margin: 15px 19px;
}

.game-year {
  font-size: 1em;
  font-weight: bold;
}

.game-title {
  height: 24px;
  font-family: "Source Sans Pro", SourceSansPro, -apple-system, sans-serif;
  font-weight: lighter;
}
