@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700');

a, a:hover {
  color: #ffffff;
}

body {
  background: black;
  margin: 0;
  padding: 0;
  color: ghostwhite;
  font-family: "Source Sans Pro", SourceSansPro, -apple-system, sans-serif;
}

.btn-group {
  float: right;
}

.btn-outline-dark {
  background-color: #000000;
  border-color: #000000;
  color: #ffffff;
}

.back-arrow {
  stroke: #4193f3;
  fill: #4193f3;
  height: 2.5em;
  width: 2.5em;
}

.dropdown-container {
  width: 310px;
  margin: 0 auto;
}

.dropdown-item {
  color: #ffffff;
  cursor: pointer;
  margin: 0;
  padding: 10px 14px;
  width: auto;
}

.dropdown-item:hover {
  background-color: #4193f3;
  color: #ffffff;
}

.dropdown-menu {
  background-color: #333333;
  border-radius: 0;
  color: #ffffff;
  margin: 0;
  opacity: 0.9;
  padding: 0;
  border-color: #979797;
  min-width: 150px;
}

.dropdown-toggle {
  background-color: transparent;
  border: 0;
  border-radius: 0;
  color: #ffffff;
  line-height: 1;
  min-width: 150px;
  padding: 10px 14px;
}

.dropdown-toggle::after {
  border-top: .5em solid;
  border-right: .5em solid transparent;
  border-bottom: 0;
  border-left: .5em solid transparent;
  color: #4193f3;
  margin-left: 14px;
  position: relative;
  top: 2px;
}

.game {
  position: relative;
  align-items: flex-end;
  border-radius: 1px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 10px;
  width: 300px;
  height: 169px;
  cursor: pointer;
}

.game-details {
  margin: 15px 19px;
}

.game-info-container {
  margin-top: 36px;
}

.game-year-title {
  position: absolute;
  margin: 15px;
  bottom: 0px;
}

.game-list-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.game-title {
  margin: 0;
  font-size: 24px;
  font-weight: lighter;
}

.game-year {
  font-size: 1em;
  font-weight: bold;
}

.gradient-overlay {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));
  height: 169px;
  position: absolute;
  top: 0;
  width: 300px;
}

.logo-snk {
  margin-top: 64px;
}

.logo-ngr {
  margin: 11px 0 18px 0;
}

.logo-xs-container {
  display: flex;
  align-items: center;
}

.navbar {
  background: #000000;
  display: none;
  opacity: 0.8;
}

.ngrLogo {
  margin: 14px 0 0 0;
}

.rating {
  font-size: 1.3em;
}

.snkLogo {
  margin-top: 62px;
}

.snkLogoXS {
  margin-top: 26px;
  margin-bottom: 12px;
}

.year {
  font-size: 1em;
  margin: 0;
  font-weight: bold;
}

@media screen and (min-width: 768px) {
  .dropdown-container {
    width: 620px;
  }
}

@media screen and (min-width: 1200px) {
  .dropdown-container {
    width: 940px;
  }
}
